In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
# loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [4]:
# first 5 rows of the dataset
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [5]:
credit_card_data.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
17913  29027 -0.422159  0.231118  1.666711  ...  0.117023  0.130972    9.00    0.0
17914  29030  1.177387 -0.215585  0.202972  ... -0.022112 -0.010929   25.00    0.0
17915  29030 -0.553746  0.880858  1.644821  ...  0.275487  0.110195    0.89    0.0
17916  29030 -2.844632  3.717960 -7.165428  ...  1.326228  0.322688   89.99    0.0
17917  29031  1.050204  0.078269  0.484733  ...       NaN       NaN     NaN    NaN

[5 rows x 31 columns]

In [6]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17918 entries, 0 to 17917
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    17918 non-null  int64
 1   V1      17918 non-null  float64
 2   V2      17918 non-null  float64
 3   V3      17918 non-null  float64
 4   V4      17918 non-null  float64
 5   V5      17917 non-null  float64
 6   V6      17917 non-null  float64
 7   V7      17917 non-null  float64
 8   V8      17917 non-null  float64
 9   V9      17917 non-null  float64
 10  V10     17917 non-null  float64
 11  V11     17917 non-null  float64
 12  V12     17917 non-null  float64
 13  V13     17917 non-null  float64
 14  V14     17917 non-null  float64
 15  V15     17917 non-null  float64
 16  V16     17917 non-null  float64
 17  V17     17917 non-null  float64
 18  V18     17917 non-null  float64
 19  V19     17917 non-null  float64
 20  V20     17917 non-null  float64
 21  V21     17917 non-null  float64
 22  V22     17917 non-null  float64
 23  V23     17917 non-null  float64
 24  V24     17917 non-null  float64
 25  V25     17917 non-null  float64
 26  V26     17917 non-null  float64
 27  V27     17917 non-null  float64
 28  V28     17917 non-null  float64
 29  Amount  17917 non-null  float64
 30  Class   17917 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 4.2 MB

In [7]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        1
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [8]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    17836
1.0       81
Name: Class, dtype: int64

This Dataset is highly unblanced

0 --> Normal Transaction

1 --> fraudulent transaction

In [9]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [10]:
print(legit.shape)
print(fraud.shape)

(17836, 31)
(81, 31)

In [11]:
fraud.Amount.describe()

count      81.000000
mean       98.105926
std       267.464067
min         0.000000
25%         1.000000
50%         1.000000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [12]:
# statistical measures of the data
legit.Amount.describe()

count    17836.000000
mean        67.365025
std        188.754429
min          0.000000
25%          5.490000
50%         15.950000
75%         56.232500
max       7712.430000
Name: Amount, dtype: float64

In [13]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    13891.131980 -0.203851  0.228560  ...  0.010352  0.006670  67.365025
1.0    16833.074074 -9.315066  6.779465  ...  0.940693  0.090007  98.105926

[2 rows x 30 columns]

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

In [14]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [15]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [16]:
new_dataset.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
7852   10937 -0.713757  0.841765  3.803246  ... -0.149675 -0.133691    6.06    0.0
16927  28298 -1.822444 -1.449610  3.324665  ...  0.023463 -0.068736  160.95    0.0
10598  17702 -0.353805  1.259226  1.496475  ...  0.095574 -0.003580   12.49    0.0
1531    1201  0.168216  0.529988  1.809228  ...  0.198873  0.194177    4.99    0.0
11365  19819 -0.909604  1.269961 -0.301374  ...  0.428638  0.140093  200.85    0.0

[5 rows x 31 columns]

In [17]:
new_dataset.tail()

        Time         V1         V2  ...       V28  Amount  Class
17317  28625 -27.848181  15.598193  ...  0.388090   99.99    1.0
17366  28658 -28.524268  15.876923  ...  0.380246   99.99    1.0
17407  28692 -29.200329  16.155701  ...  0.372393   99.99    1.0
17453  28726 -29.876366  16.434525  ...  0.364530   99.99    1.0
17480  28755 -30.552380  16.713389  ...  0.356660   99.99    1.0

[5 rows x 31 columns]

In [18]:
new_dataset['Class'].value_counts()

0.0    492
1.0     81
Name: Class, dtype: int64

In [19]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    14140.463415 -0.263108  0.358945  ...  0.003848  0.005553  57.087033
1.0    16833.074074 -9.315066  6.779465  ...  0.940693  0.090007  98.105926

[2 rows x 30 columns]

Splitting the data into Features & Targets

In [20]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [21]:
print(X)

        Time         V1         V2  ...       V27       V28  Amount
7852   10937  -0.713757   0.841765  ... -0.149675 -0.133691    6.06
16927  28298  -1.822444  -1.449610  ...  0.023463 -0.068736  160.95
10598  17702  -0.353805   1.259226  ...  0.095574 -0.003580   12.49
1531    1201   0.168216   0.529988  ...  0.198873  0.194177    4.99
11365  19819  -0.909604   1.269961  ...  0.428638  0.140093  200.85
...      ...        ...        ...  ...       ...       ...     ...
17317  28625 -27.848181  15.598193  ...  1.324809  0.388090   99.99
17366  28658 -28.524268  15.876923  ...  1.301734  0.380246   99.99
17407  28692 -29.200329  16.155701  ...  1.278681  0.372393   99.99
17453  28726 -29.876366  16.434525  ...  1.255649  0.364530   99.99
17480  28755 -30.552380  16.713389  ...  1.232636  0.356660   99.99

[573 rows x 30 columns]

In [22]:
print(Y)

7852     0.0
16927    0.0
10598    0.0
1531     0.0
11365    0.0
        ...
17317    1.0
17366    1.0
17407    1.0
17453    1.0
17480    1.0
Name: Class, Length: 573, dtype: float64

Split the data into Training data & Testing Data

In [23]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [24]:
print(X.shape, X_train.shape, X_test.shape)

(573, 30) (458, 30) (115, 30)

Model Training

Logistic Regression

In [28]:
model = LogisticRegression()

In [ ]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

Model Evaluation

Accuracy Score

In [31]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [32]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9781659388646288

In [33]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [34]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9739130434782609